.highlight {
  background-color: rgb(246, 248, 250);
  overflow-x: scroll;
  white-space: pre;
}

.highlight::-webkit-scrollbar {
  -webkit-appearance: none;
}

.highlight::-webkit-scrollbar:horizontal {
  height: 11px;
}

.highlight::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid rgb(246, 248, 250); /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, .3);
}

.highlight .c { color: rgb(106, 115, 125); } /* Comment */
.highlight .err {  } /* Error */
.highlight .k { color: rgb(215, 58, 73); } /* Keyword */
.highlight .o { color: #000000; } /* Operator */
.highlight .p { color: #000000; } /* Operator */
.highlight .cm { color: rgb(106, 115, 125); } /* Comment.Multiline */
.highlight .cp { color: rgb(106, 115, 125); } /* Comment.Preproc */
.highlight .c1 { color: rgb(106, 115, 125); } /* Comment.Single */
.highlight .cs { color: rgb(106, 115, 125); } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd; } /* Generic.Deleted */
.highlight .ge { color: #000000; } /* Generic.Emph */
.highlight .gr { color: #aa0000; } /* Generic.Error */
.highlight .gh { color: #999999; } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd; } /* Generic.Inserted */
.highlight .go { color: #888888; } /* Generic.Output */
.highlight .gp { color: #555555; } /* Generic.Prompt */
.highlight .gs { } /* Generic.Strong */
.highlight .gu { color: #aaaaaa; } /* Generic.Subheading */
.highlight .gt { color: #aa0000; } /* Generic.Traceback */
.highlight .kc { color: #000000; } /* Keyword.Constant */
.highlight .kd { color: rgb(215, 58, 73); } /* Keyword.Declaration */
.highlight .kn { color: #000000; } /* Keyword.Namespace */
.highlight .kp { color: rgb(111, 66, 193); } /* Keyword.Pseudo */
.highlight .kr { color: rgb(215, 58, 73); } /* Keyword.Reserved */
.highlight .kt { color: #445588; } /* Keyword.Type */
.highlight .m { color: rgb(3, 47, 98); } /* Literal.Number */
.highlight .s { color: rgb(3, 47, 98); } /* Literal.String */
.highlight .n { color: rgb(36, 41, 46); }
.highlight .na { color: rgb(0, 92, 197); } /* Name.Attribute */
.highlight .nb { color: rgb(36, 41, 46); } /* Name.Builtin */
.highlight .nc { color: rgb(0, 92, 197); } /* Name.Class */
.highlight .no { color: rgb(227, 98, 9); } /* Name.Constant */
.highlight .nx { color: rgb(227, 98, 9); }
.highlight .nd { color: rgb(0, 92, 197); } /* Name.Decorator */
.highlight .ni { color: #800080; } /* Name.Entity */
.highlight .ne { color: #990000; } /* Name.Exception */
.highlight .nf { color: rgb(111, 66, 193); } /* Name.Function */
.highlight .nl { color: rgb(0, 92, 197); } /* Name.Label */
.highlight .nn { color: rgb(0, 92, 197); } /* Name.Namespace */
.highlight .nt { color: rgb(34, 134, 58); } /* Name.Tag */
.highlight .nv { color: #008080; } /* Name.Variable */
.highlight .ow { color: #000000; } /* Operator.Word */
.highlight .w { color: #bbbbbb; } /* Text.Whitespace */
.highlight .mf { color: #009999; } /* Literal.Number.Float */
.highlight .mh { color: #009999; } /* Literal.Number.Hex */
.highlight .mi { color: rgb(0, 92, 197); } /* Literal.Number.Integer */
.highlight .mo { color: #009999; } /* Literal.Number.Oct */
.highlight .sb { color: #d01040; } /* Literal.String.Backtick */
.highlight .sc { color: #d01040; } /* Literal.String.Char */
.highlight .sd { color: #d01040; } /* Literal.String.Doc */
.highlight .s2 { color: rgb(36, 41, 46); } /* Literal.String.Double */
.highlight .se { color: #d01040; } /* Literal.String.Escape */
.highlight .sh { color: #d01040; } /* Literal.String.Heredoc */
.highlight .si { color: rgb(36, 41, 46); } /* Literal.String.Interpol */
.highlight .sx { color: rgb(3, 47, 98); } /* Literal.String.Other */
.highlight .sr { color: #009926; } /* Literal.String.Regex */
.highlight .s1 { color: rgb(3, 47, 98); } /* Literal.String.Single */
.highlight .ss { color: rgb(3, 47, 98); } /* Literal.String.Symbol */
.highlight .bp { color: #999999; } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080; } /* Name.Variable.Class */
.highlight .vg { color: #008080; } /* Name.Variable.Global */
.highlight .vi { color: rgb(0, 92, 197); } /* Name.Variable.Instance */
.highlight .il { color: #009999; } /* Literal.Number.Integer.Long */

.highlight .o + .n { color: rgb(111, 66, 193); }
.highlight .o + .no { color: rgb(0, 92, 197); }
.highlight .p + .nx { color: rgb(0, 92, 197); }

.css .o,
.css .o + .nt,
.css .nt + .nt,
.scss .o,
.scss .o + .nt,
.scss .nt + .nt { color: #009999; }

.css .nn, .scss .nn { color: rgb(111, 66, 193); }
.css .nc, .scss .nc { color: rgb(111, 66, 193); }
